header(class='myheader')
	h1 Аникеев Федор Николаевич aka fedos3d 
	div(class="mynav")
		a(data-nav="true", id="home", href="/") Домой
		| !{' '}
		a(id="portfolio", href="my_portfolio") Портфолио
		| !{' '}
		a(id="achiv", href="my_achievements") Мои достижения
		| !{' '}
		a(id="constructor", href="constructor") Конструктор
		| !{' '}
		a(id="fetch", href="fetch") Fetch
		| !{' '}
		a(id="carrier", href="list_carrier?take=10&skip=0") Фронтенд для API
		| !{' '}
		a(id="chat", href="chat") Чат на вебсокетах
		| !{' '}
		if user != null
			p Текущий пользователь: #{user.name}
			| !{' '}
			a(class="nav_el" data-nav="nav" href="logout" id="logout") Logout
		else
			a(class="nav_el" data-nav="nav" href="login" id="login") Login
			| !{' '}
			a(class="nav_el" data-nav="nav" href="register" id="register") Register
